body {
  font-family: "Roboto";
}

.App {
  background-color: #eff3f6;
}

*:focus {
  outline: none;
}

/**
Colours used in the app for dev guide,
TODO use variables instead
primary: #eff3f6
highlight-theme: #464eb8
light-grey: #c4c4c4
dark-grey: #595959
*/
